devi-lovable-update-nodes.json
{
  "meta": {
    "name": "Devi Lovable Website Auto-Update System",
    "description": "Automatically updates Lovable website with weekly Devi content",
    "version": "1.0.0"
  },
  "nodes": [
    {
      "parameters": {
        "jsCode": "// PREPARE BLOG PAGE FOR LOVABLE\nconst content = $json;\n\n// Generate React/TypeScript blog page\nconst blogPageTSX = `// Generated by n8n Devi Content System\n// Date: ${content.issue_date}\n// Week: ${content.week_number}\n\nimport React from 'react';\nimport { BlogLayout } from '@/components/BlogLayout';\nimport { ProductCard } from '@/components/ProductCard';\n\nexport default function Week${content.week_number}Blog() {\n  const products = ${JSON.stringify(content.products, null, 2)};\n  \n  return (\n    <BlogLayout\n      title=\"${content.title}\"\n      date=\"${content.issue_date}\"\n      author=\"Devi (Devine)\"\n    >\n      <div className=\"prose prose-lg max-w-none\">\n        <div className=\"lead text-purple-600 font-semibold mb-8\">\n          ${content.intro.split('\\n\\n').join('</div><div class=\"mt-4\">')}\n        </div>\n        \n        <section className=\"my-12\">\n          <h2 className=\"text-3xl font-bold mb-6\">This Week's Must-Know Trends</h2>\n          ${content.trends.map((trend, i) => `\n          <div className=\"mb-8\" key={${i}}>\n            <h3 className=\"text-2xl font-semibold mb-3\">${i + 1}. ${trend}</h3>\n            <p className=\"text-gray-700\">\n              This is EVERYWHERE right now. I've seen dozens of influencers\n              rocking this look, and honestly? I'm obsessed.\n            </p>\n            ${content.products[i] ? `\n            <div className=\"mt-4\">\n              <ProductCard\n                name=\"${content.products[i].name}\"\n                brand=\"${content.products[i].brand}\"\n                price=\"${content.products[i].price}\"\n                url=\"${content.products[i].affiliate_url || content.products[i].url}\"\n                image=\"${content.products[i].image}\"\n              />\n            </div>\n            ` : ''}\n          </div>\n          `).join('')}\n        </section>\n        \n        <section className=\"my-12\">\n          <h2 className=\"text-3xl font-bold mb-6\">Color Story</h2>\n          <div className=\"flex gap-4 mb-6\">\n            ${content.colors.slice(0, 5).map(color => `\n            <div \n              className=\"w-16 h-16 rounded-full border-2 border-gray-200\"\n              style={{ backgroundColor: '${color}' }}\n              title=\"${color}\"\n            />\n            `).join('')}\n          </div>\n          <p className=\"text-gray-700\">\n            This week's palette: ${content.colors.slice(0, 3).join(', ') || 'neutrals and pastels'}\n          </p>\n        </section>\n        \n        <section className=\"my-12\">\n          <h2 className=\"text-3xl font-bold mb-6\">Shop My Picks 💜</h2>\n          <div className=\"grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6\">\n            {products.map((product, i) => (\n              <ProductCard\n                key={i}\n                name={product.name}\n                brand={product.brand}\n                price={product.price}\n                url={product.affiliate_url || product.url}\n                image={product.image}\n              />\n            ))}\n          </div>\n          <p className=\"text-sm text-gray-600 italic mt-6\">\n            ${content.affiliate_disclosure || 'Contains affiliate links. I earn a small commission at no extra cost to you.'}\n          </p>\n        </section>\n        \n        <section className=\"my-12 bg-gradient-to-r from-purple-500 to-pink-500 rounded-2xl p-8 text-center text-white\">\n          <h2 className=\"text-3xl font-bold mb-4\">Get This in Your Inbox</h2>\n          <p className=\"text-lg mb-6\">\n            Join fashion lovers who get my weekly insights every Monday.\n          </p>\n          <a \n            href=\"/\" \n            className=\"inline-block bg-white text-purple-600 px-8 py-3 rounded-lg font-semibold hover:bg-gray-100 transition\"\n          >\n            Subscribe Now\n          </a>\n        </section>\n      </div>\n    </BlogLayout>\n  );\n}\n`;\n\nconst blogData = {\n  filename: `${content.issue_date}.tsx`,\n  path: `pages/blog/${content.issue_date}.tsx`,\n  content: blogPageTSX,\n  json_filename: `${content.issue_date}.json`,\n  json_path: `public/blog/${content.issue_date}.json`,\n  json_content: JSON.stringify({\n    issue_date: content.issue_date,\n    week_number: content.week_number,\n    title: content.title,\n    trends: content.trends,\n    products: content.products,\n    colors: content.colors\n  }, null, 2)\n};\n\nreturn [{ json: { ...content, blog_page: blogData } }];"
      },
      "id": "devi-prepare-blog-page",
      "name": "Prepare Blog Page for Lovable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 400]
    },
    {
      "parameters": {
        "jsCode": "// PREPARE INSTAGRAM CONTENT FOR LOVABLE\nconst content = $json;\n\nconst igData = {\n  filename: `ig-week-${content.week_number}.json`,\n  path: `public/content/instagram/week-${content.week_number}.json`,\n  content: JSON.stringify(content.ig_script, null, 2)\n};\n\nreturn [{ json: { ...content, ig_data: igData } }];"
      },
      "id": "devi-prepare-ig-content",
      "name": "Prepare IG Content for Lovable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 550]
    },
    {
      "parameters": {
        "jsCode": "// PREPARE TIKTOK CONTENT FOR LOVABLE\nconst content = $json;\n\nconst tiktokData = {\n  filename: `tiktok-week-${content.week_number}.json`,\n  path: `public/content/tiktok/week-${content.week_number}.json`,\n  content: JSON.stringify(content.tiktok_script, null, 2)\n};\n\nreturn [{ json: { ...content, tiktok_data: tiktokData } }];"
      },
      "id": "devi-prepare-tiktok-content",
      "name": "Prepare TikTok Content for Lovable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lovable.dev/v1/projects/figma-connect-landing/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $json.blog_page.path }}"
            },
            {
              "name": "content",
              "value": "={{ $json.blog_page.content }}"
            },
            {
              "name": "message",
              "value": "=Weekly update: {{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "devi-write-blog-lovable",
      "name": "Write Blog to Lovable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3100, 400],
      "notes": "Uses Lovable API to create/update blog page"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lovable.dev/v1/projects/figma-connect-landing/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "=public/ai_influencer_context.json"
            },
            {
              "name": "content",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "devi-write-voice-context",
      "name": "Write Voice Context to Lovable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3100, 550]
    }
  ],
  "connections": {
    "Prepare Blog Page for Lovable": {
      "main": [[{ "node": "Write Blog to Lovable", "type": "main", "index": 0 }]]
    },
    "Prepare IG Content for Lovable": {
      "main": [[{ "node": "Write Blog to Lovable", "type": "main", "index": 0 }]]
    },
    "Prepare TikTok Content for Lovable": {
      "main": [[{ "node": "Write Blog to Lovable", "type": "main", "index": 0 }]]
    }
  }
}
