workflows/hello-world.json
{
  "name": "Hello World - Simple Demo",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simple Hello World code\nconst currentTime = new Date().toLocaleString();\nconst message = `Hello from n8n! 👋`;\n\nreturn [\n  {\n    json: {\n      message: message,\n      timestamp: currentTime,\n      status: 'success',\n      tip: 'You just ran your first n8n workflow!'\n    }\n  }\n];"
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f12345678901",
      "name": "Generate Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3d4e5f6-g7h8-9012-cdef-123456789012",
              "name": "greeting",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "d4e5f6g7-h8i9-0123-def1-234567890123",
              "name": "time",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "e5f6g7h8-i9j0-1234-ef12-345678901234",
              "name": "result",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f6g7h8i9-j0k1-2345-f123-456789012345",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Generate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Message": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T15:30:00.000Z",
  "versionId": "12345678-90ab-cdef-1234-567890abcdef"
}
